@page "/"
@using ChessWebUI.Components
@using ChessEngine
@inherits LayoutComponentBase

<h1>Chess Games</h1>
<Chessboard Board="_chessBoard" />


@code {
    private readonly Board _chessBoard = new();
    

}