.square {
    width: 12.5%;
    height: 12.5%;
    flex-basis: 12.5%;
    background: #0b5ed7;
}

.chessboard {
    border: solid lightslategrey 0.8rem;
    display: flex;
    flex-flow: row wrap;
    width: 360px;
    height: 360px;
}

@media only screen and (min-width: 600px) {
    .chessboard {
        width: 640px;
        height: 640px;
    }
}