<MudGrid Class="w-100">
    <MudItem xs="12" md="9" Style="display: flex; justify-content: center; align-items: center; gap: 1rem;">
        <MudTextField Style="height: 2.4rem;" Class="mud-width-full" Margin="Margin.Dense" @bind-Value="InputFen" Label="Fen" Variant="Variant.Outlined"></MudTextField>
        <MudButton Style="height: 2.4rem" Variant="Variant.Filled" Color="Color.Primary" @onclick="() => AddFen(InputFen.TrimStart())">Add</MudButton>
    </MudItem>
    <MudItem xs="12" md="9" Style="display: flex; justify-content: center; align-items: center; width: 100%;">
    <MudStack Class="mud-width-full"  Spacing="1">
        @foreach (var fen in ListOfFens)
        {
            @* <MudItem Class="mud-width-full" xs="12" md="9" Style="display: flex; justify-content: center; align-items: center;"> *@
                @if (fen == LastAddedFen)
                {
                    <MudPaper Class="mud-width-full mud-theme-primary p-1" Style="cursor: pointer;">
                        <span>* @fen</span>
                    </MudPaper>
                }
                else
                {
                    <MudPaper Class="mud-width-full p-1" Style="cursor: pointer;" @onclick="() => AddFen(fen)">
                        <span>- @fen</span>
                    </MudPaper>
                }
            // </MudItem>
        }
    </MudStack>
    </MudItem>
</MudGrid>