@inherits LayoutComponentBase
<div class="page">
    @* <div class="sidebar"> *@
    @*     $1$ <NavMenu/> #1# *@
    @* </div> *@

    <main>
        <MudThemeProvider @bind-IsDarkMode="_isDarkMode" Theme="_theme"/>
        <MudPopoverProvider/>
        <MudDialogProvider/>
        <MudSnackbarProvider/>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
}